<ion-view view-title="Ficha">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left" href="#/ficha/add">
        <i class="icon ion-plus-circled"></i>
        Nova Ficha
      </ion-item>

      <ion-item class="item-divider">Ativos</ion-item>

      <ion-item class="item-icon-left">
        <i class="icon ion-document"></i>
        Ficha #1
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-document"></i>
        Ficha #2
      </ion-item>


      <ion-item class="item-divider">Finalizados</ion-item>

      <ion-item class="item-icon-left">
        <i class="icon ion-document"></i>
        Ficha #3
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-document"></i>
        Ficha #4
      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>
